<button class="card hover-effect" data-id="{{id}}">
  <div class="card-top">
    <h2>{{title}}</h2>
  </div>
  <div class="card-bottom">
    <p class="card-content">{{content}}</p>
  </div>
</button>
<div class="edit-btns hidden">
  <button class="account-btn hover-effect">Make change</button>
  <button class="account-btn hover-effect">Cancel</button>
</div>