<article>
  <div class="create-blog">
    <div class="create-title">
      <label class="account-title" for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Title name" />
    </div>
    <div class="create-content">
      <label class="account-content" for="content">Content</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <p class="warning">Error code</p>
    <button id="logout" class="account-btn hover-effect">Logout</button>
    <button id="create-blog" class="account-btn hover-effect">Create blog</button>
  </div>

</article>

<script src="/js/logout.js"></script>
<script src="/js/account.js"></script>