:root {
  --primary-colour: #e8c2ca;
  --secondary-colour: black;
}
h1 {
  font-size: 250%;
}
.hover-effect {
  transition: all 0.2s ease-in-out;
}
.hover-effect:hover {
  transform: scale(1.1);
}
nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}
.header-logo {
  padding: 5px;
  background-color: orangered;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-link {
  color: var(--secondary-colour);
}
.nav-link:visited {
  color: var(--secondary-colour);
}
.nav-link:hover {
  cursor: pointer;
}
.btn {
  font-size: 150%;
  height: 30px;
  min-width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.btn:visited {
  color: var(--secondary-colour);
}
.account {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  border: 2px black solid;
  transition: all 0.3s;
}

.account:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-evenly;
}

.form-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formbtn {
  margin: 10px;
  font-size: 100%;
  background-color: orangered;
  border: 2px black solid;
  border-radius: 2rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 125%;
}

.warn-login {
  color: red;
  display: none;
}
