:root {
  --primary-colour: #e8c2ca;
  --secondary-colour: #0d160b;
  --tertiary-colour: #c14953;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 250%;
}
.hover-effect {
  transition: all 0.2s ease-in-out;
}
.hover-effect:hover {
  transform: scale(1.1);
}
nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}
.header-logo {
  padding: 5px;
  background-color: orangered;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-link {
  color: var(--secondary-colour);
}
.nav-link:visited {
  color: var(--secondary-colour);
}
.nav-link:hover {
  cursor: pointer;
}
.btn {
  font-size: 150%;
  height: 30px;
  min-width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

.btn:visited {
  color: var(--secondary-colour);
}
.account {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  border: 2px black solid;
  transition: all 0.3s;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 125%;
}

.account:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.user {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-evenly;
}

.form-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formbtn {
  margin: 10px;
  font-size: 100%;
  background-color: orangered;
  border: 2px black solid;
  border-radius: 2rem;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 125%;
}

.warn-login {
  color: red;
  display: none;
}

.home-blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  color: var(--secondary-colour);
  width: 80%;
  position: relative;
  background-color: var(--primary-colour);
  margin: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-card {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  color: var(--tertiary-colour);
}

.card-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.card-date {
  margin-top: 10px;
  margin-bottom: -5px;
}

.blog-article {
  position: relative;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-colour);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blog-author {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.blog-title {
  font-size: 200%;
  text-transform: capitalize;
  padding: 10px;
  color: var(--tertiary-colour);
}
.blog-content {
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
}

.other-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-blog {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.create-title {
  padding: 10px;
  font-size: 125%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.create-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#content {
  height: 400px;
}
.account-btn {
  margin: 10px;
  padding: 5px;
  font-size: 125%;
  background-color: var(--tertiary-colour);
  border-radius: 10px;
  min-width: 100px;

  color: var(--primary-colour);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.account-btn:hover {
  cursor: pointer;
}
#logout {
  position: absolute;
  right: 0;
  top: 0;
}
#logout:hover {
  cursor: pointer;
}

.warning {
  color: red;
  display: none;
}

.account-title {
  margin-bottom: 5px;
  font-size: 125%;
}

.account-content {
  font-size: 125%;
  margin-bottom: 5px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 5px;
  font-size: 75%;
}

.comment {
  position: relative;
  background-color: var(--tertiary-colour);
  margin: 5px;
  padding: 5px;
  line-height: 20px;
  width: 40%;
  min-height: 50px;
  word-wrap: break-word;
  color: white;
  border-radius: 1rem;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.comment-author {
  color: #111;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}

#add-comment {
  padding: 3px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
}

#add-comment:focus {
  border: none;
  border-bottom: 1px solid var(--primary-colour);
}
.create-blog-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-options {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.edit-btns {
  display: flex;
}
.hidden {
  display: none;
}

.edit-blog-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.edit-card {
  margin: 15px;
  border: 0;
  background-color: var(--primary-colour);
}

.delete-card {
  font-size: 90%;
  right: 0;
  top: 0;
  position: absolute;
  width: 5%;
  z-index: 100;
}
